
.container-fluid{
    background-color: whitesmoke;
}

.tabtitle{
    font-size: 30px;
}

p{
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    color:gray;
    font-size: 16px;
}

.fa{
    font-size: 20px;
    color: rgba(47,177,99)
}

.challengeimg{
    max-width: 35vw;
}

.container{
    width: 100%;
    margin: 30px;
}

.card{
    background-color: white;
}

.nav-link{
    border-bottom: none;
}

.nav-tabs{
    margin: 0px 70px;
}

.tab-content{
    background-color: white;
    height: auto;
    /* margin: 0px 50px; */
    /* padding: 20px; */
    border-top: none;
}

.button-txt{
    font-family: 'Poppins', sans-serif;
    margin-left: 0.8rem;
    font-size: 1rem;
    color: rgba(47,177,99)
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.nav-link:hover{
    color:white;
}

.action{
    font-size: 15px;
}

.subtitle{
    font-size: 1.8rem;
}

.desc{
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.tab-pane{
    background-color: white;
}

.title{
    margin: 15px 50px 5px;
}

.bannerbg {
    max-width: 100%;
    height: 70vh;
    margin: 0;
    display: flex;
    background-image: url('../../assets/images/banner.jpg');
    background-position: center top;
	background-size: cover;
}

.bannerlayer {
    background-color: rgba(47,177,99, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
}

.overlaylogo {
    position: absolute;
    top: 12vh;
    left: 60vh;
    max-width: 70vh;
    display: flex;
}

.slogan{
    position: absolute;
    color: white;
    top: 50vh;
    left: 60vh;
}

h1{
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 8vh;
    font-weight: 900;
}

.projectimg{
    width: 100%;
}

.card{
    max-height: 10vh;
}

.page-link{
    color: rgba(47,177,99)
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-size: 10px;
    height: auto;
    background-color: whitesmoke;
}

