<html ng-app="explore">

<head>
    <title>Prepr - Explore</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="../../assets/js/scripts.js"></script>
</head>

<nav class="customnav">
    <div class="container-fluid">
        <div class="logo">
            <a href="#"><img class="logo-img" src="../../assets/images/preprlogo-white.png"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="">Explore</a></li>
                <li><a href="/my-work">My Work</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="">Profile</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<div class="bannerbg">
    <div class="bannerlayer">
        <div>
            <img src="../../assets/images/preprlogo-white.png" class="overlaylogo">
        </div>
        <div class="center slogan">
            <h2>co-LEARN. co-LAB. co-SOLVE.™</h2>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h1 style="padding: 20px 20px 10px;color:#383838">EXPLORE</h1>
</div>
<div class="d-flex justify-content-center">
    <p style="color:#383838; font-size: 1.3rem">Check out our latest challenges, labs, and projects!</p>
</div>
<br>
<ul class="nav nav-tabs nav-justified" id="projectstabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="challenges-tab" data-toggle="tab" href="#challenges" role="tab"
            aria-controls="home" aria-selected="true">
            <h4 class="tabtitle">Challenges</h4>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="labs-tab" data-toggle="tab" href="#labs" role="tab" aria-controls="profile"
            aria-selected="false">
            <h4 class="tabtitle">Labs</h4>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="profile"
            aria-selected="false">
            <h4 class="tabtitle">Projects</h4>
        </a>
    </li>
</ul>

<div class="tab-content" id="myTabContent" style="padding: 10px 50px 0px; margin: 0px 70px;">
    <br>
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <br>
    <div class="tab-pane fade show active" id="challenges" role="tabpanel" aria-labelledby="home-tab">
        <div style="background-color: white;">
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div><a href="/challenge-details"><img class="projectimg"
                                src="../../assets/images/challenge1.png"></a></div>
                </div>
                <div class="col-md-8" style="padding: 10px; color: #585858">
                    <h4 class="subtitle"><a class="name-link" href="/challenge-details">COVID-19 Challenge - Low-cost
                            monitoring system for COVID-19 patients</a></h4>
                    <p style="color: green"></p>
                    <p class="desc">NRC is seeking a low cost system (unit cost &lt;$25) that can continuously measure
                        temperature, peripheral capillary oxygen saturation (SpO2), blood pressure (BP), pulse and
                        respiration rates, and transmit this information wirelessly to a base station for COVID-19
                        patient monitoring in locales including ERs, general wards, communities and homes.</p>
                    <br>
                    <div class="d-flex pull-right">
                        <!-- <div class="bottom"> -->
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                        <i class="fa fa-eye"></i>
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                        <i class="fa fa-heart"></i>
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                        <i class="fa fa-share-alt"></i>
                        <!-- </div> -->
                    </div>
                    <!-- <div class="d-flex buttoncontainer justify-content-center">
                                    <button type="button" class="btn btn-success mt-auto">Success</button>
                                    <button type="button" class="btn btn-danger mt-auto">Danger</button>
                                </div> -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div><a href="/challenge-details"><img class="projectimg"
                                src="../../assets/images/challenge2.png"></a></div>
                </div>
                <div class="col-md-8" style="padding: 10px; color: #585858">
                    <h4 class="subtitle"><a class="name-link" href="/challenge-details">COVID-19 Challenge - Point of
                            Care & Home Diagnostic Kit for COVID-19</a></h4>
                    <p class="desc">The Public Health Agency of Canada (PHAC) and National Research Council (NRC) are
                        seeking a solution that will diagnose individuals affected by COVID-19 within 3 days of the
                        start of their symptoms using a sample, other than a nasopharyngeal swab, with a rapid
                        single-use home testing kit analogous to a home pregnancy test.</p>
                    <br>

                    <br>
                    <div class="d-flex pull-right">
                        <!-- <div class="bottom"> -->
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                        <i class="fa fa-eye"></i>
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                        <i class="fa fa-heart"></i>
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                        <i class="fa fa-share-alt"></i>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div><a href="/challenge-details"><img class="projectimg"
                                src="../../assets/images/challenge3.png"></a></div>
                </div>
                <div class="col-md-8" style="padding: 10px; color: #585858">
                    <h4 class="subtitle"><a class="name-link" href="/challenge-details">Recycled Plastic Ceiling
                            Tiles</a></h4>
                    <p class="desc">The challenge we are facing is global and departmental. Globally, there is an
                        accumulation of plastic with the equivalent of one tonne per person in existence. Considering
                        that less than 9% of the plastic produced between 1950 and 2015 was recycled, we are challenged
                        to find ways to recycle plastics much more
                        than is currently being done. Departmentally, we are challenged to procure goods and services
                        that reduce emissions intensity.

                        With a 10 year renovation underway of one on our buildings, we are seeking building products
                        that are more sustainable.</p>
                    <br>

                    <br>
                    <div class="d-flex pull-right">
                        <!-- <div class="bottom"> -->
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                        <i class="fa fa-eye"></i>
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                        <i class="fa fa-heart"></i>
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                        <i class="fa fa-share-alt"></i>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center" style="font-size: 1rem;">
                <nav aria-label="page-navigator">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
                </div>
            <br>
            <br>
        </div>
    </div>
    <div class="tab-pane fade" id="labs" role="tabpanel" aria-labelledby="labs-tab">
        <div class="tab-pane fade show active" id="labs" role="tabpanel" aria-labelledby="home-tab">
            <div style="background-color: white;">
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div><a href="/challenge-details"><img class="projectimg"
                                    src="../../assets/images/challenge1.png"></a></div>
                    </div>
                    <div class="col-md-8" style="padding: 10px; color: #585858">
                        <h4 class="subtitle"><a class="name-link" href="/challenge-details">COVID-19 Challenge -
                                Low-cost
                                monitoring system for COVID-19 patients</a></h4>
                        <p style="color: green"></p>
                        <p class="desc">NRC is seeking a low cost system (unit cost &lt;$25) that can continuously
                            measure
                            temperature, peripheral capillary oxygen saturation (SpO2), blood pressure (BP), pulse and
                            respiration rates, and transmit this information wirelessly to a base station for COVID-19
                            patient monitoring in locales including ERs, general wards, communities and homes.</p>
                        <br>
                        <div class="d-flex pull-right">
                            <!-- <div class="bottom"> -->
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                            <i class="fa fa-eye"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                            <i class="fa fa-heart"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                            <i class="fa fa-share-alt"></i>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="d-flex buttoncontainer justify-content-center">
                                        <button type="button" class="btn btn-success mt-auto">Success</button>
                                        <button type="button" class="btn btn-danger mt-auto">Danger</button>
                                    </div> -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div><a href="/challenge-details"><img class="projectimg"
                                    src="../../assets/images/challenge2.png"></a></div>
                    </div>
                    <div class="col-md-8" style="padding: 10px; color: #585858">
                        <h4 class="subtitle"><a class="name-link" href="/challenge-details">COVID-19 Challenge - Point
                                of
                                Care & Home Diagnostic Kit for COVID-19</a></h4>
                        <p class="desc">The Public Health Agency of Canada (PHAC) and National Research Council (NRC)
                            are
                            seeking a solution that will diagnose individuals affected by COVID-19 within 3 days of the
                            start of their symptoms using a sample, other than a nasopharyngeal swab, with a rapid
                            single-use home testing kit analogous to a home pregnancy test.</p>
                        <br>

                        <br>
                        <div class="d-flex pull-right">
                            <!-- <div class="bottom"> -->
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                            <i class="fa fa-eye"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                            <i class="fa fa-heart"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                            <i class="fa fa-share-alt"></i>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div><a href="/challenge-details"><img class="projectimg"
                                    src="../../assets/images/challenge3.png"></a></div>
                    </div>
                    <div class="col-md-8" style="padding: 10px; color: #585858">
                        <h4 class="subtitle"><a class="name-link" href="/challenge-details">Recycled Plastic Ceiling
                                Tiles</a></h4>
                        <p class="desc">The challenge we are facing is global and departmental. Globally, there is an
                            accumulation of plastic with the equivalent of one tonne per person in existence.
                            Considering
                            that less than 9% of the plastic produced between 1950 and 2015 was recycled, we are
                            challenged to find ways to recycle plastics much more
                            than is currently being done. Departmentally, we are challenged to procure goods and
                            services
                            that reduce emissions intensity.

                            With a 10 year renovation underway of one on our buildings, we are seeking building products
                            that are more sustainable.</p>
                        <br>

                        <br>
                        <div class="d-flex pull-right">
                            <!-- <div class="bottom"> -->
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                            <i class="fa fa-eye"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                            <i class="fa fa-heart"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                            <i class="fa fa-share-alt"></i>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center" style="font-size: 1rem;">
                    <nav aria-label="page-navigator">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <br>
                <div class="d-flex justify-content-center" style="font-size: 1rem;">
                    <nav aria-label="page-navigator">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                    </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
        <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="home-tab">
            <div style="background-color: white;">
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div><a href="/challenge-details"><img class="projectimg"
                                    src="../../assets/images/challenge1.png"></a></div>
                    </div>
                    <div class="col-md-8" style="padding: 10px; color: #585858">
                        <h4 class="subtitle"><a class="name-link" href="/challenge-details">COVID-19 Challenge -
                                Low-cost
                                monitoring system for COVID-19 patients</a></h4>
                        <p style="color: green"></p>
                        <p class="desc">NRC is seeking a low cost system (unit cost &lt;$25) that can continuously
                            measure
                            temperature, peripheral capillary oxygen saturation (SpO2), blood pressure (BP), pulse and
                            respiration rates, and transmit this information wirelessly to a base station for COVID-19
                            patient monitoring in locales including ERs, general wards, communities and homes.</p>
                        <br>
                        <div class="d-flex pull-right">
                            <!-- <div class="bottom"> -->
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                            <i class="fa fa-eye"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                            <i class="fa fa-heart"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                            <i class="fa fa-share-alt"></i>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="d-flex buttoncontainer justify-content-center">
                                        <button type="button" class="btn btn-success mt-auto">Success</button>
                                        <button type="button" class="btn btn-danger mt-auto">Danger</button>
                                    </div> -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div><a href="/challenge-details"><img class="projectimg"
                                    src="../../assets/images/challenge2.png"></a></div>
                    </div>
                    <div class="col-md-8" style="padding: 10px; color: #585858">
                        <h4 class="subtitle"><a class="name-link" href="/challenge-details">COVID-19 Challenge - Point
                                of
                                Care & Home Diagnostic Kit for COVID-19</a></h4>
                        <p class="desc">The Public Health Agency of Canada (PHAC) and National Research Council (NRC)
                            are
                            seeking a solution that will diagnose individuals affected by COVID-19 within 3 days of the
                            start of their symptoms using a sample, other than a nasopharyngeal swab, with a rapid
                            single-use home testing kit analogous to a home pregnancy test.</p>
                        <br>

                        <br>
                        <div class="d-flex pull-right">
                            <!-- <div class="bottom"> -->
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                            <i class="fa fa-eye"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                            <i class="fa fa-heart"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                            <i class="fa fa-share-alt"></i>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div><a href="/challenge-details"><img class="projectimg"
                                    src="../../assets/images/challenge3.png"></a></div>
                    </div>
                    <div class="col-md-8" style="padding: 10px; color: #585858">
                        <h4 class="subtitle"><a class="name-link" href="/challenge-details">Recycled Plastic Ceiling
                                Tiles</a></h4>
                        <p class="desc">The challenge we are facing is global and departmental. Globally, there is an
                            accumulation of plastic with the equivalent of one tonne per person in existence.
                            Considering
                            that less than 9% of the plastic produced between 1950 and 2015 was recycled, we are
                            challenged to find ways to recycle plastics much more
                            than is currently being done. Departmentally, we are challenged to procure goods and
                            services
                            that reduce emissions intensity.

                            With a 10 year renovation underway of one on our buildings, we are seeking building products
                            that are more sustainable.</p>
                        <br>

                        <br>
                        <div class="d-flex pull-right">
                            <!-- <div class="bottom"> -->
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                            <i class="fa fa-eye"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                            <i class="fa fa-heart"></i>
                            <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                            <i class="fa fa-share-alt"></i>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-center" style="font-size: 1rem;">
                    <nav aria-label="page-navigator">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                    </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
</html>