<nav class="customnav">
    <div class="container-fluid">
        <div class="logo">
            <a href="#"><img class="logo-img" src="../../assets/images/preprlogo-white.png"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="">Explore</a></li>
                <li><a href="/my-work">My Work</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="bg">
</div>
<div class="container-fluid bgcontent">
    <br>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <h2 class="subtitle">CHALLENGE</h2>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn btn-success d-flex align-middle">
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Submit &nbsp;</h4>
                        <i class="fa fa-paper-plane"></i>
                    </button>
                    <button type="button" class="btn btn-outline-success d-flex align-middle">
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Follow &nbsp;</h4>
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-outline-success d-flex align-middle">
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Favourite &nbsp;</h4>
                        <i class="fa fa-heart"></i>
                    </button>
                    <button type="button" class="btn btn-outline-success d-flex align-middle">
                        <h4 class="button-txt align-middle" style="margin-bottom: 0;">Share &nbsp;</h4>
                        <i class="fa fa-share-alt"></i>
                    </button>
                </div>
            </div>
            <hr>
            <h2 class="challenge-title">COVID-19 Challenge - Low-cost monitoring system for COVID-19 patients
            </h2>
            <div class=container-fluid>
                <div class="row">
                    <div class="col-md-5">
                        <img class="projectimg" src="../../../assets/images/challenge1.png">
                    </div>
                    <div class="col-md-7">
                        <p style="color: gray">OPEN</p>
                        <br>
                        <p style="color: rgba(47,177,99); font-size: 1.5rem">General Description </p>
                        <p style="font-weight: normal; color: #505050;">NRC is seeking a low cost system (unit cost
                            &lt;$25) that can
                            continuously measure temperature, peripheral capillary oxygen saturation (SpO2), blood
                            pressure (BP), pulse and respiration rates, and transmit this information wirelessly to
                            a base station for COVID-19 patient monitoring in locales including ERs, general wards,
                            communities and homes.</p>
                        <br>
                        <p style="color: rgba(47,177,99)">Challenge Opened: <span style="color: #585858">April 7th 2020</span></p>
                        <p style="color: rgba(47,177,99)">Deadline: <span style="color: #585858">April 20th 2020</span></p>
                        <br>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <ul class="nav nav-tabs nav-fill" style="margin: 30px 10px 0px; border: none" id="detailstabs"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                            aria-controls="home" aria-selected="true">
                            <h4 class="tabtitle">Overview</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="discussions-tab" data-toggle="tab" href="#discussions" role="tab"
                            aria-controls="profile" aria-selected="false">
                            <h4 class="tabtitle">Discussion</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="submissions-tab" data-toggle="tab" href="#submissions" role="tab"
                            aria-controls="profile" aria-selected="false">
                            <h4 class="tabtitle">Submissions</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab"
                            aria-controls="profile" aria-selected="false">
                            <h4 class="tabtitle">Members</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent" style="padding: 10px 30px 0px">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
                        <div style="background-color: white;">
                            <br>
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="subtitle-med">Problem statement</p>
                                    <span class="span-txt">
                                        Temperature, SpO2, BP, pulse and respiration rates are used to assess a
                                        patient's health. With some exceptions (e.g. in an ICU), these are not
                                        measured
                                        continuously in a healthcare facility nor at home. This has consequences:
                                        sudden
                                        changes that signify rapid deterioration may not be caught in time; subtle
                                        trends indicating health changes may not be found until an egregious impact
                                        occurs. This is especially relevant to the COVID-19 pandemic, where rapidly
                                        increasing numbers of patients and long hospitalization durations are
                                        imposing
                                        an extreme workload on the healthcare system. While some sufferers do
                                        require
                                        hospitalization, most do not. To support those at home, accurate data is
                                        vital.
                                        Such data offers individual and collective benefits. Individually, it will
                                        allow
                                        home-bound patients and their caregivers to make better decisions as to
                                        whether
                                        care should be escalated while offering reassurance to those whose condition
                                        is
                                        stable. Collectively, accurate information will allow public health
                                        authorities
                                        to determine the characteristics of the disease's progression that will in
                                        turn
                                        inform deployment of scarce resources and guide development of better
                                        treatment.
                                    </span>
                                    <br>
                                    <span class="span-txt">
                                        To be truly effective during the COVID-19 pandemic, monitoring equipment
                                        needs
                                        to be widely available. Thus low cost is of utmost importance. Advances in
                                        materials science and micro-printed electronics have resulted in devices
                                        capable
                                        of unobtrusively measuring the five parameters. While impressive
                                        individually, a
                                        low cost integrated solution that allows patients to remain at home while
                                        still
                                        being monitored is yet to be developed.
                                    </span>
                                    <br>
                                    <br>
                                    <p class="subtitle-med">Desired outcomes and considerations</p>
                                    <p class="subtitle-small">Essential (mandatory) outcomes</p>
                                    <p style="padding: 0px 5px; font-family: 'Poppins', sans-serif">The proposed
                                        solution must:</p>
                                    <ul>
                                        <li>directly measure or indirectly determine temperature, blood pressure,
                                            peripheral</li>
                                        <li>capillary oxygen saturation (SpO2), pulse rate and respiration rate.
                                        </li>
                                        <li>wirelessly transmit results to a base station</li>
                                        <li>use commercial off-the-shelf (COTS) equipment (e.g. tablet) for the base
                                            station</li>
                                        <li>send measurements from the base station to a networked computer</li>
                                        <li>include a software development kit (SDK) to allow for third parties to
                                            develop</li>
                                        <li>software to access the measurements</li>
                                        <li>be able to be worn while asleep</li>
                                        <li>sense and report motion occurrence and intensity</li>
                                        <li>be water resistant</li>
                                        <li>have a sync-able real time clock</li>
                                        <li>have time stamped measurements</li>
                                        <li>last 24 hours on a single charge</li>
                                        <li>have a per unit cost ≤ $25 for quantity ≥ 1k (excluding GPS) for
                                            on-patient
                                            portion</li>
                                        <li>support a medical device license application to Health Canada</li>
                                    </ul>
                                    <p class="subtitle-small">Additional Outcomes</p>
                                    <p style="padding: 0px 5px; font-family: 'Poppins', sans-serif">The proposed
                                        solution should:</p>
                                    <ul>
                                        <li>have temperature accuracy ±0.1°C</li>
                                        <li>have an SpO2 accuracy of ±2%</li>
                                        <li>have a blood pressure accuracy as per the Association for the Advancement of
                                            Medical Instrumentation (AAMI) criteria, sensitivity of
                                            0.005 Pa, response time of 0.1 ms, carotid artery pressure preferred,
                                            absolute
                                            pressure preferred, ΔP (difference in pressure between
                                            systolic and diastolic) only is acceptable</li>
                                        <li>have pulse rate accuracy ±10%</li>
                                        <li>have respiration rate accuracy ±3 breaths per minute (bpm)</li>
                                        <li>accuracy can be downgraded during motion (see Note 1)</li>
                                        <li>acquire a blood pressure waveform over several cycles and send the acquired
                                            data, or analyze the waveform and send results</li>
                                        <li>sense motion</li>
                                        <li>have a power saving hibernate mode</li>
                                        <li>acquire data at least once every 15 minutes (continuously for heart and
                                            respiration rates.)</li>
                                        <li>last up to one week on a single charge</li>
                                        <li>ideally be one piece (however, several are allowed)</li>
                                        <li>have disposable sensor portions if in several pieces (see note 2)</li>
                                        <li>have an on-patient portion that comes in a comfortable, non-obtrusive form
                                            (e.g.: bracelet, pendant, or comfortable patch)</li>
                                        <li>be disposable, however, if not disposable, be disinfectable by being wiped
                                            with
                                            a 70% solution of ethanol (see note 2)</li>
                                        <li>locate position by GPS</li>
                                        <li>withstand patient exercising at an intensity equivalent to a brisk walk (~5
                                            km/h);</li>
                                    </ul>
                                    <br>
                                    <p class="subtitle-med">Explanatory Notes</p>
                                    <p class="subtitle-small">Note 1. Accuracy and Motion</p>
                                    <span class="span-txt">
                                        The effect of motion on the sensing of physiological parameters is well
                                        known.
                                        It varies depending upon the sensing method (e.g. electrical methods are
                                        generally less susceptible than optical ones) and the motion's intensity and
                                        duration. To allow for a wide range of possible responses to this challenge,
                                        the
                                        expectation is that the range of downgraded accuracies will be in the same
                                        order
                                        as that of off-the-shelf (current market existing) medical grade (FDA/Health
                                        Canada/EU approved) sensors. Once the patient has returned to a quiescent
                                        state,
                                        the system should return to the stated desired accuracies within 5 seconds.
                                        Additionally, the system should indicate when a patient is in motion, and
                                        the
                                        intensity of this motion. In any event, for BP, the AAMI criteria requires
                                        the
                                        patient to be at rest.
                                    </span>
                                    <br>
                                    <br>
                                    <p class="subtitle-small">Note 2. Disposability</p>
                                    <span class="span-txt">
                                        Ideally the entire on-patient device (or devices if comprised of multiple
                                        pieces) should be disposable. To be disposable, the device needs to be
                                        inexpensive. However, what is sufficiently inexpensive to be considered a
                                        throwaway by one organization may be considered prohibitively expensive by
                                        another. In anticipation of this, the portion of the device which is not in
                                        intimate contact with the patient (which is expected to be the main portion
                                        of
                                        the electronics (and particularly the battery), and which is also expected
                                        to be
                                        the most expensive portion of the device) should be able to be disinfected
                                        by
                                        being wiped with alcohol thus allowing for reuse by other patients.
                                    </span>
                                    <br>
                                    <span class="span-txt">
                                        A second concern related to disposability is environmental sustainability. A
                                        device that is cheap enough to be thrown away after one use may possess
                                        material
                                        that should not be indiscriminately tossed into the trash. Again, the
                                        expectation is that the main portion of the electronics (and particularly
                                        the
                                        battery) will constitute the bulk of the environmentally unfriendly
                                        material.
                                        Therefore having this portion be reusable by many patients following
                                        disinfection with alcohol is highly desirable.
                                    </span>
                                    <br>
                                    <br>
                                    <p class="subtitle-med">Background and Context</p>
                                    <span class="span-txt">
                                        The COVID-19 pandemic has resulted in unprecedented challenges to Canadian
                                        society and particularly the health care system. The rapidly increasing
                                        numbers
                                        of patients and the long duration of hospitalization of each is imposing
                                        great
                                        stress on the existing healthcare system. Widely agreed observations for the
                                        COVID-19 disease are: mild manifestation among most patients; small
                                        proportion
                                        of severe cases with long duration of hospitalization; and rapid
                                        propagation.
                                        Social distancing and self-isolation have been recommended as a strategy.
                                        Within
                                        this context, continuous monitoring for patients in need of care,
                                        particularly
                                        those at home, becomes crucial to prevent rapid deterioration. To be truly
                                        effective, it needs to be widely available and therefore low cost. The
                                        advances
                                        mentioned in the Challenge Statement, combined with those related to the
                                        Internet of Things, promise to make low cost a reality. However, in order to
                                        be
                                        truly useful even a very low cost sensor needs to be part of a
                                        well-integrated
                                        solution, as mentioned previously.
                                    </span>
                                    <br>
                                    <span class="span-txt">
                                        The work described in http://dx.doi.org/10.1126/science.aau0780 is an
                                        example of
                                        a well-integrated solution. It did have the advantages of non-ambulatory
                                        patients (neonates) in a configurable environment (the NICU). However, such
                                        advantages do not exist for this challenge. Use of COTS equipment is an
                                        advantage as it removes the cost of displays and keypads or touchscreens,
                                        albeit
                                        adding the constraint of a hospital or patient supplied device. This is not
                                        considered to be onerous given the rates of adoption of such devices amongst
                                        Canadians.
                                    </span>
                                    <br>
                                    <span class="span-txt">
                                        For this Challenge, the preferred artery to be utilized for BP measurement
                                        is
                                        the carotid. Most non-invasive BP devices (that is, those using cuffs)
                                        measure
                                        peripheral pressure; yet it is central pressure that major organs encounter.
                                        As
                                        people age, their arteries, in particular the aorta, become less compliant.
                                        Aortic stiffness is the best predictor of all-cause and cardiovascular
                                        mortality
                                        in hypertensive patients. The gold standard to determine aortic stiffness is
                                        carotid-femoral Pulse Wave Velocity (cfPWV) which requires the measurement
                                        of
                                        carotid pressure. Currently, the only method to non-invasively measure
                                        carotid
                                        BP that could conceivably be deployed at home is applanation tonometry (AT).
                                        AT
                                        is used clinically outside of North America (NA) and for clinical research
                                        purposes, including in NA. However, AT requires well-trained, experienced
                                        operators and compliant patients. An alternative to AT for determination of
                                        carotid BP is highly desirable.
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <p class="subtitle-med">Requirements</p>
                                    <div style="padding: 15px; font-weight: normal; font-family:'Poppins';">
                                        <p class="font-change"><i class="fa fa-history"></i> &nbsp;Submit by April 20th
                                            2020</p>
                                        <p class="font-change"><i class="fa fa-chevron-circle-up"></i>&nbsp;Learn Rank -
                                            0</p>
                                        <p class="font-change"><i class="fa fa-diamond"
                                                aria-hidden="true"></i>&nbsp;100pts+</p>
                                    </div>
                                    <p class="subtitle-med">Host</p>
                                    <div style="padding: 15px; font-weight: normal; font-family:'Poppins';">
                                        <img src="../../../assets/images/canadalogo.png">
                                        <p class="font-change"><a
                                                href="https://preprlabs.org/organisationShow/ORG5d514bfc82d58"
                                                target="blank">Innovation, Science and Economic Development Canada</a>
                                        </p>
                                    </div>
                                    <ngb-accordion>
                                        <ngb-panel>
                                            <ng-template ngbPanelTitle>
                                                <div class="justify-content-between"
                                                    style="justify-content: space-between; max-width: 100%">
                                                    <div class="d-flex pull-left" style="color: #303030;">
                                                        <p class="subtitle-med">Related Labs</p>
                                                    </div>
                                                    <div class="pull-right"><i class="fa fa-chevron-down"></i></div>
                                                </div>
                                            </ng-template>

                                            <ng-template ngbPanelContent>
                                                <img class="projectimgsmall"
                                                    src="../../../assets/images/challenge2.png">
                                                <img class="projectimgsmall"
                                                    src="../../../assets/images/challenge2.png">
                                                <img class="projectimgsmall"
                                                    src="../../../assets/images/challenge2.png">
                                            </ng-template>
                                        </ngb-panel>
                                        <ngb-panel>
                                            <ng-template ngbPanelTitle>
                                                <div class="justify-content-between"
                                                    style="justify-content: space-between; max-width: 100%">
                                                    <div class="d-flex pull-left">
                                                        <p class="subtitle-med">See Similar Challenges</p>
                                                    </div>
                                                    <div class="pull-right"><i class="fa fa-chevron-down"></i></div>
                                                </div>
                                            </ng-template>

                                            <ng-template ngbPanelContent>
                                                <img class="projectimgsmall"
                                                    src="../../../assets/images/challenge3.png">
                                                <img class="projectimgsmall"
                                                    src="../../../assets/images/challenge3.png">
                                                <img class="projectimgsmall"
                                                    src="../../../assets/images/challenge3.png">
                                            </ng-template>
                                        </ngb-panel>
                                        <ngb-panel>
                                            <ng-template ngbPanelTitle>
                                                <div class="justify-content-between"
                                                    style="justify-content: space-between; max-width: 100%">
                                                    <div class="d-flex pull-left">
                                                        <p class="subtitle-med">Sponsors</p>
                                                    </div>
                                                    <div class="pull-right"><i class="fa fa-chevron-down"></i></div>
                                                </div>
                                            </ng-template>

                                            <ng-template ngbPanelContent>
                                                <p class="font-change">This challenge does not have any sponsors.</p>

                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-danger">Report This Challenge</button>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="discussion" role="tabpanel" aria-labelledby="invprojects-tab">
                    </div>
                    <div class="tab-pane fade" id="submissions" role="tabpanel" aria-labelledby="invprojects-tab">
                        <div class="d-flex justify-content-center">
                            <h4 class="namsg">There are currently no submissions. Be the first!</h4>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="invprojects-tab">
                        <p class="subtitle-med">Admins and Moderators</p>
                        <hr>
                        <p class="subtitle-med">General Members</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>